<div class="table" *ngIf="products && products.length">
  <div>
    <div *ngFor="let product of filteredProducts">
      <div class="row boxstyle">
        <div class="col-md-4">
          <img
            [src]="product.imageUrl"
            [title]="product.courseName"
            [style.width.px]="200"
            [style.height.px]="152"
            [style.margin.px]="2"
          />
        </div>
        <div class="col-md-8">
          <div class="row red">
            {{product.shortDescription}}
          </div>
          <div class="row gray">
                {{product.longDescription}}
          </div>
          <div class="row detailsstyle">
            <div class="detailsmargin">
              <span class="displayblock gold">
                <pm-star [rating]="product.overallRating"> </pm-star>
              </span>
              ratings
            </div>
            <img class="timer" src="./assets/images/timer.png" />
            <div class="detailsmargin">
              <span class="displayblock">
                    {{product.duration}} Weeks
              </span>
              duration
            </div>
            <img class="person" src="./assets/images/user.png" />
            <div>
              <span class="displayblock">
               123
              </span>
              enrolled
            </div>
          </div>
          <!-- <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-3">Name:</div>
                    <div class="col-md-6">{{ product.courseName }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">Code:</div>
                    <div class="col-md-6">
                      {{
                        product.courseCode | lowercase | convertToSpaces: "-"
                      }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">Description:</div>
                    <div class="col-md-6">{{ product.description }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">Availability:</div>
                    <div class="col-md-6">{{ product.releaseDate }}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">Price:</div>
                    <div class="col-md-6">
                      {{ product.price | currency: "USD":true }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">5 Star Rating:</div>
                    <div class="col-md-6">
                      <pm-star [rating]="product.starRating"> </pm-star>
                    </div>
                  </div>
                </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
