<h2><a [routerLink]="['/dashboard']">Go to Product Details</a></h2>
<h1>Update Product</h1>
<form #f="ngForm">
  <label id="formHeader">ID</label>
  <input type="number" name="id" [(ngModel)]="student.id">
  <br>
  <label id="formHeader">Name</label>
  <input type="text" name="name" [(ngModel)]="student.name">
  <br>
  <label id="formHeader">Price</label>
  <input type="number" name="price" [(ngModel)]="student.price">
  <br>
  <input type="button" id="updateProductButton" (click)="updateProduct(f)" value="Update Product">
</form>