<h2><a [routerLink]="['/createProduct']">Add New Product</a></h2>

<h1>Product Details</h1>

<table border='1' width='100%' style='border-collapse: collapse;'>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Operations</th>
  </tr>

  <tr *ngFor="let product of products">
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>
      <!-- <button (click)="selectProduct(product)">Update</button> -->
      <button [routerLink]="['/updateProduct',product.id]">Update</button>
      <button id="delete" (click)="deleteProduct(product.id)">Delete</button>
      <!-- <button id="delete" [routerLink]="['/deleteProduct',product.id]">Delete</button> -->
    </td>
  </tr>
</table>
<!-- [routerLink]="['/updateStudent',stu.id] -->

<!-- <br> -->
<!-- <form #f="ngForm">
  <label id="formHeader">ID</label>
  <input type="number" name="id" [(ngModel)]="selectedProduct.id">
  <br>
  <label id="formHeader">Name</label>
  <input type="text" name="name" [(ngModel)]="selectedProduct.name">
  <br>
  <label id="formHeader">Price</label>
  <input type="number" name="price" [(ngModel)]="selectedProduct.price">
  <br>
  <input type="button" id="addProductButton" (click)="addProduct(f)" value="Create Product">
  <input type="button" id="updateProductButton" (click)="updateProduct(f)" value="Update Product">
</form> -->