<h2><a [routerLink]="['/dashboard']">Go to Product Details</a></h2>
<h1>Delete Product</h1>
<form #f="ngForm">
  <label id="formHeader">ID</label>
  <input type="number" name="id">
  <br>
  <label id="formHeader">Name</label>
  <input type="text" name="name" [(ngModel)]="selectedProduct.name">
  <br>
  <label id="formHeader">Price</label>
  <input type="number" name="price" [(ngModel)]="selectedProduct.price">
  <br>
  <input type="button" id="addProductButton" (click)="deleteNewProduct(f)" value="Delete Product">
</form>